<body>
    <div style="min-height:100%;margin:0;padding:0;width:100%;background-color:#002c42">
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#002c42">
                <tbody><tr>
                    <td align="center" valign="top" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">


                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody><tr>
                                <td valign="top" style="background-color:#002c42;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                    <tbody><tr>

                                                        <td valign="top" style="padding:9px 18px;text-align:center;word-break:break-word;color:#e6e6e6;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:10px;line-height:150%">

                                                            <div><img align="center" src="https://ci3.googleusercontent.com/proxy/xMV_Gz8qw60qHEh1aA1rubFztsSEJrrZFsRYaNjvcFb4O1GvBCYdrjzd6anyOSbLNgrFTRAyCWAMWX7elwLMmNNgNcd6HT9KnYTjNExWi8WZzx-qafgOu0Is6TkLIae3QBkD6d-8Gx85yXwyMgBq3l5KcTHFoGaW5QZ7oIM=s0-d-e1-ft#https://gallery.mailchimp.com/b91eea75548ae8bd8fe8bfcf0/images/ebcd1069-1fa1-407f-b18d-9b7b4743d80b.png" style="border:0;min-height:auto!important;outline:none;text-decoration:none" class="CToWUd"></div>

                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table></td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:0"></td>
                            </tr>
                            <tr>
                                <td valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:9px">
                                        <tbody><tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="400" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:9px">
                                                    <tbody><tr>
                                                        <td><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;line-height:150%;text-align:left">

                                                                                    <h2 style="text-align:center;display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:2px">RESERVATION FOR</h2>

                                                                                    <h1 style="text-align:center;display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px">{{firstname}} {{lastname}}</h1>

                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;line-height:150%;text-align:left">

                                                                                    <table style="width:100%;border-collapse:collapse">
                                                                                        <tbody>
                                                                                            <tr style="border-weight:1px;border-style:solid none;border-color:#e6e6e6">
                                                                                                <td style="width:30%">
                                                                                                    <div style="border-weight:1px;border-style:none solid none none;border-color:#e6e6e6">

                                                                                                        {{#each products}}
                                                                                                            <p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:16px;font-weight:normal;text-align:center;margin:10px 0 0 0;padding:0;line-height:150%">{{description}}: {{quantity}}</p>
                                                                                                            
                                                                                                            <!-- <h1 style="display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px;text-align:center">{{description}}: {{quantity}} </h1> -->

                                                                                                        {{/each}}
                                                                                                    </div>
                                                                                                </td>
                                                                                                <td style="width:70%">
                                                                                                    <div style="padding:20px">
                                                                                                        <h2 style="display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:2px;text-align:center">DATE</h2>

                                                                                                        <h1 style="display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px;text-align:center"><span class="aBn" data-term="goog_570757522" tabindex="0"><span class="aQJ">{{date}}</span></span></h1>
                                                                                                        &nbsp;

                                                                                                        <h2 style="display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:2px;text-align:center">TIME</h2>

                                                                                                        <h1 style="display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px;text-align:center"><span class="aBn" data-term="goog_570757523" tabindex="0"><span class="aQJ">{{time}}</span></span></h1>
                                                                                                        &nbsp;

                                                                                                                                                                                                                <h2 style="display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:2px;text-align:center">DURATION</h2>

                                                                                                        <h1 style="display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px;text-align:center"><span class="aBn" data-term="goog_570757523" tabindex="0"><span class="aQJ">{{duration}} {{timeunit}}</span></span></h1>

                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>

                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top" style="padding:0px">
                                                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>
                                                                                <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">


                                                                                    <img align="center" alt="" src="{{mapUrl}}" width="400" style="max-width:1050px;padding-bottom:0;display:inline!important;vertical-align:bottom;border:0;min-height:auto;outline:none;text-decoration:none" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01;"><div id=":1pb" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>


                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;line-height:150%;text-align:left">

                                                                                    <h2 style="line-height:20.8px;text-align:center;display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;letter-spacing:2px">LOCATION</h2>

                                                                                    <h1 style="line-height:20.8px;text-align:center;display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;letter-spacing:1px">{{location}}</h1>

                                                                                    <div style="text-align:center">Address: {{address}}</div>

                                                                                    <!-- <div style="text-align:center"><a href="https://www.google.com/maps/place/Fort+Walton+Beach,+FL/@30.4177573,-86.6973823,12z/data=!4m2!3m1!1s0x889116d2aaa0387d:0xe3a6ad0f3c9e67c7" style="color:#52c4c6;font-weight:normal;text-decoration:none" target="_blank">DIRECTIONS &gt;</a></div> -->

                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">

                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">


                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td>

                                                                                    <table border="0" cellpadding="18" cellspacing="0" width="100%" style="min-width:100%!important;border:1px none;background-color:#408bca;border-collapse:collapse">
                                                                                        <tbody><tr>
                                                                                            <td valign="top" style="color:#ffffff;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-weight:normal;text-align:left;word-break:break-word;line-height:150%">
                                                                                                <table style="width:100%;border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td style="width:15%;padding-right:20px">
                                                                                                                <!-- <a href="http://www.beachbrothersbeachservice.com/" style="color:#52c4c6;font-weight:normal;text-decoration:none" target="_blank"><img align="none" height="40" src="https://ci6.googleusercontent.com/proxy/AIz84wNxXPe8F2EKxl2k6H5jz4G90QbMvOliWyubuINfh6cvUjHs2PLYk0JellncKlUBNpgxNoFvRKyllNtsOwY3ZAba6-DgH9DdRBcf6n1HSBVq2uxDzm1RVFY7L7lw9E_7YDQHiyXhq8MoqLFNGHv0PWd_0GHr9p-xqMU=s0-d-e1-ft#https://gallery.mailchimp.com/b91eea75548ae8bd8fe8bfcf0/images/8114b2fa-2a1c-4fa5-ac69-ed8d8a046c51.png" style="width:40px;min-height:40px;margin:0px;border:0;outline:none;text-decoration:none" width="40" class="CToWUd"></a> -->
                                                                                                            </td>
                                                                                                            <td style="width:70%">
                                                                                                                <div style="border-style:none solid none none;border-color:#ffffff">
                                                                                                                    <h2 style="text-align:left;display:block;margin:0;padding:0;color:#999999;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:2px"><span style="color:#ffffff">{{providerContactName}}</span></h2>
                                                                                                                    {{providerDescription}}<br>
                                                                                                                    {{providerTel}}<br>
                                                                                                                    <a href="{{providerUrl}}" style="color:#52c4c6;font-weight:normal;text-decoration:none" target="_blank">{{providerUrl}}</a></div>
                                                                                                            </td>
                                                                                                            <td style="width:15%">
                                                                                                                <div style="padding:20px"><a href="http://tel:{{providerTel}}" style="color:#52c4c6;font-weight:normal;text-decoration:none" target="_blank"><img align="none" height="40" src="https://ci6.googleusercontent.com/proxy/ZD1zIht0dmPfNAjq8_MaeTgDb_OiU9K3t6OmkEL483NL4h2v-J38ddIlO93W9GE1bzqhWwKMvF5t4UlTZkijciY4P_n5Vp85s0oFnA71XXZvqUVAwioyB5PrGNjl3bQ6thcMY45ZhKMUG__qsc0fMbW1PXKOroWIrUBDOss=s0-d-e1-ft#https://gallery.mailchimp.com/b91eea75548ae8bd8fe8bfcf0/images/4e82b4f1-ccec-40aa-b35a-cb5c3f358703.png" style="width:40px;min-height:40px;margin:0px;border:0;outline:none;text-decoration:none" width="40" class="CToWUd"></a></div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>

                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>



                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table></td>
                                                    </tr>
                                                    </tbody></table>

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="200" style="border-collapse:collapse;background-color:#ffffff;border-top:0;border-bottom:0;padding-top:0;padding-bottom:9px">
                                                    <tbody><tr>
                                                        <td valign="top"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;margin-bottom:20px;">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;line-height:150%;text-align:left">

                                                                                    <h3 dir="ltr" style="text-align:center;display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal">Your reservation is booked!</h3>

                                                                                    <div style="text-align:center"><br>
                                                                                        Now sit back and relax. Your reservation will be clearly marked with your name at the designated area.</div>

                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">

                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">


                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                            <tbody><tr>

                                                                                <td>

                                                                                    <table border="0" cellpadding="18" cellspacing="0" width="100%" style="min-width:100%!important;background-color:#f2f2f2;border-collapse:collapse">
                                                                                        <tbody><tr>
                                                                                            <td valign="top" style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:10px;font-weight:normal;text-align:center;word-break:break-word;line-height:150%">
                                                                                                <table style="width:100%;border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td><p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-weight:normal;text-align:center;margin:10px 0;padding:0;line-height:150%">RECEIPT</p></td>
                                                                                                        </tr>
                                                                                                        <tr style="border-width:1px;border-style:solid none;border-color:#cccccc">
                                                                                                            <td>
                                                                                                                <p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-weight:normal;text-align:center;margin:10px 0;padding:0;line-height:150%">RESERVATION ID<br>
                                                                                                                    {{id}}</p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="border-width:1px;border-style:solid none;border-color:#cccccc">
                                                                                                            <td>
                                                                                                                <table style="border-collapse:collapse">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="width:40%;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"><span style="font-size:12px">Subtotal</span></h3>
                                                                                                                            </td>
                                                                                                                            <td style="width:60%;padding-left:20px;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">${{subTotal}}</h3>
                                                                                                                            </td>
                                                                                                                        </tr>

                                                                                                                        <tr>
                                                                                                                            <td style="width:40%;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"><span style="font-size:12px">Tax</span></h3>
                                                                                                                            </td>
                                                                                                                            <td style="width:60%;padding-left:20px;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">${{tax}}</h3>
                                                                                                                            </td>
                                                                                                                        </tr>

                                                                                                                        <tr>
                                                                                                                            <td style="width:40%;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:14px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left"><span style="font-size:12px">Tip</span></h3>
                                                                                                                            </td>
                                                                                                                            <td style="width:60%;padding-left:20px;text-align:right">
                                                                                                                                <h3 style="display:block;margin:0;padding:0;color:#000000;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left">${{tip}}</h3>
                                                                                                                            </td>
                                                                                                                        </tr>

                                                                                                                        <!-- <tr>
                                                                                                                             <td style="width:40%;text-align:right"><p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-weight:normal;text-align:center;margin:10px 0;padding:0;line-height:150%">Tax</p></td>
                                                                                                                             <td style="width:60%;padding-left:20px;text-align:right"><p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-weight:normal;text-align:center;margin:10px 0;padding:0;line-height:150%">0.54</p></td>
                                                                                                                             </tr> -->
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="border-width:1px;border-style:solid none;border-color:#cccccc">
                                                                                                            <td>
                                                                                                                <table style="border-collapse:collapse">
                                                                                                                    <tbody>
                                                                                                                        <tr>
                                                                                                                            <td style="width:40%;text-align:right"><p style="color:#808080;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;font-weight:normal;text-align:center;margin:10px 0;padding:0;line-height:150%">CHARGED Personal **** {{lastFour}}</p></td>
                                                                                                                            <td style="width:60%;padding-left:20px">
                                                                                                                                <h1 style="display:block;margin:0;padding:0;color:#002c42;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:26px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:1px;text-align:center"><span style="font-size:15px">${{total}}</span></h1>
                                                                                                                            </td>
                                                                                                                        </tr>
                                                                                                                    </tbody>
                                                                                                                </table>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>

                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>



                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table></td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                            </tr>
                            <tr>
                                <td valign="top" style="background-color:#002c42;border-top:2px solid #eaeaea;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                    <tbody><tr>

                                                        <td valign="top" style="padding:9px 18px;color:#ffffff;word-break:break-word;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:12px;line-height:150%;text-align:center">

                                                            <h4 style="display:block;margin:0;padding:0;color:#ffffff;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:10px;font-style:normal;font-weight:normal;line-height:100%;letter-spacing:3px;text-align:center"><br>
                                                                THANK YOU FOR CHOOSING SOLMATES</h4>

                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td align="center" valign="top" style="padding:9px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td align="center" style="padding-left:9px;padding-right:9px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                                <tbody><tr>
                                                                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                                                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                                                                            <tbody><tr>
                                                                                <td align="center" valign="top">





                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody><tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                    <tbody><tr>
                                                                                                        <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                <tbody><tr>

                                                                                                                    <td align="center" valign="middle" width="24">
                                                                                                                        <a href="https://twitter.com/solmatesapp" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/rKaqGXwi30ocxQj14qCQdWhg93lU9cqsHSqpSi2hsvVNLWlCcvREMB601uyF6PKZQEH953gcaOMEalYtJdy0IEHJ3G60_hFQNQ9CFa4klalrjZnjhJy8Tc7LxbNOlfWJ=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/light-twitter-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                    </td>


                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>






                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody><tr>
                                                                                            <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                    <tbody><tr>
                                                                                                        <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                <tbody><tr>

                                                                                                                    <td align="center" valign="middle" width="24">
                                                                                                                        <a href="https://www.facebook.com/solmatesbeachattendants" target="_blank"><img src="https://ci6.googleusercontent.com/proxy/2pLQxuD5zCi1BQcldLfgL7__ELRo7zZGgXhYRCaRto7_kAmQof1CaFjxqUrzpTRYUTo2gRC_QOoXUAR-7YpveIOB61CE8DaLkusI_Kt9oiLUNQsjFkgKF6LbVsyp5yekiA=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/light-facebook-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                    </td>


                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>






                                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                                                        <tbody><tr>
                                                                                            <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                                                    <tbody><tr>
                                                                                                        <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                                                                <tbody><tr>

                                                                                                                    <td align="center" valign="middle" width="24">
                                                                                                                        <a href="http://getsolmates.com" target="_blank"><img src="https://ci5.googleusercontent.com/proxy/iEb2E3rM7NzFr0Y-D98NgA99LoeotOh_s2kdc1KVRu4nGJPyWDaSLjKf9dz8HHDgGOaj_QlLYJ5c3KfbhIhWrEiHlCAakfLi5IWs0NwTnazYHFzWTOdUKweS-QoZ=s0-d-e1-ft#http://cdn-images.mailchimp.com/icons/social-block-v2/light-link-48.png" style="display:block;border:0;min-height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                                                    </td>


                                                                                                                </tr>
                                                                                                                </tbody></table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        </tbody></table>




                                                                                </td>
                                                                            </tr>
                                                                            </tbody></table>
                                                                    </td>
                                                                </tr>
                                                                </tbody></table>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                    <tbody><tr>

                                                        <td valign="top" style="padding:9px 18px;color:#ffffff;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:10px;word-break:break-word;line-height:150%;text-align:center">

                                                            Questions? Comments? <a href="mailto:{{solmatesEmail}}?subject=SolMates" style="color:#ffffff;font-weight:normal;text-decoration:underline" target="_blank">Contact us</a> about your reservation.
                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
                                    <tbody>
                                        <tr>
                                            <td style="min-width:100%;padding:10px 18px 25px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top-width:2px;border-top-style:solid;border-top-color:#eeeeee;border-collapse:collapse">
                                                    <tbody><tr>
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                    <tbody>
                                        <tr>
                                            <td valign="top">

                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse">
                                                    <tbody><tr>

                                                        <td valign="top" style="padding:9px 18px;font-family:'Trebuchet MS','Lucida Grande','Lucida Sans Unicode','Lucida Sans',Tahoma,sans-serif;font-size:10px;word-break:break-word;color:#ffffff;line-height:150%;text-align:center">

                                                            <em>Copyright © 2016 SOLMATES LLC, All rights reserved.</em><br>
                                                            <br>
                                                        </td>
                                                    </tr>
                                                    </tbody></table>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table></td>
                            </tr>
                            </tbody></table>


                    </td>
                </tr>
                </tbody></table>
        </center><div class="yj6qo"></div><div class="adL">
        </div></div>
</body>
