
<img src="http://static1.squarespace.com/static/5523142ce4b03b1d22478cb3/t/5595ada4e4b0e7f9efabbf7e/1436139851108/?format=400w"/>

<h1>Solmates Server</h1>
You have reached the Solmates RESTful Server.<br>
If you are not a developer/client application it will probably not be a very exciting experience.<br>
To peruse our API documentation click <a href="http://docs.solmates.co/rest">here</a>
